* {
    border-style: none; 
    min-width: 0px; 
    min-height: 0px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 5px;
 }

 window {
 }

button {
    color: #ff0000; 
    font-size: 10px;
    border-radius: 30px;
    min-width: 50px; 
    min-height: 50px;
}
