* {
    border-style: none; 
    min-width: 0px; 
    min-height: 0px;
    border-radius: 10px;
 }

 window {
     padding: 3px;
 }

button {
    color: #ff0000; 
    font-size: 10px;
    border-radius: 15px;
}
